wp-content/themes/muraken/html/index.html
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Favicon-->
        <link rel="shortcut icon" href="upload/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="upload/favicon.png">
        <!-- CSS-->
        <link rel="stylesheet" href="src/scss/plugins.css">
        <link rel="stylesheet" href="src/scss/style.css">
        <!-- Title-->
        <title>Homepage - Core FE</title>
    </head>
    <body>
        <script>sessionStorage.getItem("isFirstRun") || document.write('<div id="preloader"><div class="loading"></div></div>')</script>
        <!-- Loading-->
        <div id="loading">
            <div class="load-circle"><span class="one"></span></div>
        </div>
        <header class="header">
            <div class="top-bar theme-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-8 text-center text-md-left">
                            <div class="mail">support@domain.com | Phone: +01 000 000 0000</div>
                        </div>
                        <div class="col-12 col-md-4 text-center text-md-right">
                            <div class="social-icons-light"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-google-plus-g"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                    <!-- row-->
                    <!-- container-->
                </div>
            </div>
            <nav class="navbar header-nav navbar-expand-lg">
                <div class="container">
                    <!-- Brand--><a class="navbar-brand" href="index.html">Cropar<span class="theme-bg"></span></a>
                    <!-- /-->
                    <!-- Mobile Toggle-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCropar" aria-controls="navbarCropar" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                    <!-- /-->
                    <!-- Top Menu-->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarCropar">
                        <ul class="navbar-nav align-items-start align-items-lg-center">
                            <li><a class="nav-link" href="index.html">ABAB121</a></li>
                            <li><a class="nav-link" href="about.html">About Us</a></li>
                            <li><a class="nav-link" href="services.html">Services</a></li>
                            <li><a class="nav-link" href="team.html">Our Team</a></li>
                            <li><a class="nav-link" href="contact.html">Contact</a></li>
                            <li><a class="nav-link nav-link-btn m-btn m-btn-theme" href="#">Get A Quote</a></li>
                        </ul>
                    </div>
                    <!-- /-->
                    <!-- Container-->
                    <!-- Navbar-->
                </div>
            </nav>
        </header>
        <!-- WRAP PAGE-->
        <main>
            <!-- Home Banner Start-->
            <section class="home-banner" style="background-image: url(upload/home-banner.jpg);">
                <div class="container">
                    <div class="row full-screen align-items-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="home-content theme-bg">
                                <h4 class="font-alt m-0px m-30px-b sm-m-20px-b">Cropar Consulting Your Partner for Success</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                                <div class="m-btn-bar m-40px-t sm-m-30px-t"><a class="m-btn m-btn-white" id="event-click" href="#">Our Services12</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Us Start-->
            <section class="section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="std-content">
                                <h6 class="theme-color m-0px m-10px-b">About Us</h6>
                                <h2 class="font-alt m-25px-b dark-color">Why you should choose us?</h2>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <div class="m-btn-bar p-20px-t"><a class="m-btn m-btn-theme" href="#">About us</a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-7 p-80px-l md-p-15px-l">
                            <div class="radius-img sm-m-30px-t"><img src="upload/about.jpg" title="" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services Start-->
            <section class="section gray-bg">
                <div class="container">
                    <div class="row justify-content-center m-45px-b sm-m-25px-b">
                        <div class="col-md-8 col-lg-6">
                            <div class="section-title text-center">
                                <h2 class="font-alt">Our <span>Services</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..</p>
                            </div>
                        </div>
                        <!-- col-->
                        <!-- row-->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
                                <div class="feature-box box-shadow theme-hover">
                                    <div class="icon theme-bg"><i class="ti-bar-chart"></i></div>
                                    <h6 class="font-alt">tax planning</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                    </p>
                                </div>
                            </div>
                            <!-- col-->
                            <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
                                <div class="feature-box box-shadow theme-bg active">
                                    <div class="icon theme-bg"><i class="ti-ruler-pencil"></i></div>
                                    <h6 class="font-alt">legal advisory</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                    </p>
                                </div>
                            </div>
                            <!-- col-->
                            <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
                                <div class="feature-box box-shadow theme-hover">
                                    <div class="icon theme-bg"><i class="ti-money"></i></div>
                                    <h6 class="font-alt">financial services</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                    </p>
                                </div>
                            </div>
                            <!-- col-->
                            <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
                                <div class="feature-box box-shadow theme-hover">
                                    <div class="icon theme-bg"><i class="ti-notepad"></i></div>
                                    <h6 class="font-alt">audit & Assurance</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Start-->
            <section class="section bg-cover bg-fixed bg-no-repeat" style="background-image: url(upload/about-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-7 col-lg-5">
                            <div class="intro-content text-center">
                                <h2 class="font-alt dark-color m-0px m-25px-b">Do great work<br> with great people</h2>
                                <p class="m-0px">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <div class="m-btn-bar m-35px-t"><a class="m-btn m-btn-theme" href="#">Our Company</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Our Team Start-->
            <section class="section white-bg">
                <div class="container">
                    <div class="row justify-content-center m-45px-b sm-m-25px-b">
                        <div class="col-md-8 col-lg-6">
                            <div class="section-title text-center">
                                <h2 class="font-alt">Our <span>Team</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..</p>
                            </div>
                        </div>
                        <!-- col-->
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6 m-15px-tb col-lg-3">
                            <div class="team-box">
                                <div class="team-img"><img src="upload/team-1.jpg" title="" alt=""></div>
                                <div class="team-info theme-bg">
                                    <h6>John H. Anderson</h6><span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <!-- overly-->
                        <!-- col-->
                        <div class="col-12 col-md-6 m-15px-tb col-lg-3">
                            <div class="team-box">
                                <div class="team-img"><img src="upload/team-2.jpg" title="" alt=""></div>
                                <div class="team-info theme-bg">
                                    <h6>John H. Anderson</h6><span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <!-- overly-->
                        <!-- col-->
                        <div class="col-12 col-md-6 m-15px-tb col-lg-3">
                            <div class="team-box">
                                <div class="team-img"><img src="upload/team-3.jpg" title="" alt=""></div>
                                <div class="team-info theme-bg">
                                    <h6>John H. Anderson</h6><span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <!-- overly-->
                        <!-- col-->
                        <div class="col-12 col-md-6 m-15px-tb col-lg-3">
                            <div class="team-box">
                                <div class="team-img"><img src="upload/team-4.jpg" title="" alt=""></div>
                                <div class="team-info theme-bg">
                                    <h6>John H. Anderson</h6><span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial-->
            <section class="section gray-bg testimonial-section">
                <div class="container">
                    <div class="row justify-content-center m-60px-b sm-m-40px-b">
                        <div class="col-md-8 col-lg-6">
                            <div class="section-title text-center">
                                <h2 class="font-alt">Our <span>Testimonial</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..</p>
                            </div>
                        </div>
                        <!-- col-->
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="owl-carousel" id="client-slider-single">
                                <div class="testimonial-col">
                                    <div class="img"><img src="upload/avtar1.jpg" alt="" title=""></div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <h6>Jennifer Lutheran</h6>
                                    <label>CEO & Founder</label>
                                </div>
                                <!-- col-->
                                <div class="testimonial-col">
                                    <div class="img"><img src="upload/avtar1.jpg" alt="" title=""></div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <h6>Jennifer Lutheran</h6>
                                    <label>CEO & Founder</label>
                                </div>
                                <!-- col-->
                                <div class="testimonial-col">
                                    <div class="img"><img src="upload/avtar1.jpg" alt="" title=""></div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <h6>Jennifer Lutheran</h6>
                                    <label>CEO & Founder</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Our Client Start-->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center m-40px-b sm-m-20px-b">
                        <div class="col-md-8 col-lg-6">
                            <div class="section-title text-center">
                                <h2 class="font-alt">Our <span>Clients</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..</p>
                            </div>
                        </div>
                        <!-- col-->
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-1.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-2.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-3.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-4.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-5.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-6.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-7.png" title="" alt=""></a></div>
                        </div>
                        <!-- col-->
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="client-logo"><a href="#"><img src="upload/logo-8.png" title="" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Start-->
            <section class="bg-no-repeat bg-cover bg-fixed" style="background-image: url(upload/call-to-action.jpg);">
                <div class="row no-gutters justify-content-end">
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="call-to-action theme-bg">
                            <h4>Get a personal<br> consultation</h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                            <div class="m-btn-bar"><a class="m-btn m-btn-white" href="#">Send a Request</a><a class="contact-num" href="#">+44 555 8585 85</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- FOR DEV-->
        <input class="d-none" id="showfordev" type="checkbox" name="">
        <div class="for-dev">
            <div class="title-page">For DEV</div>
            <div class="des-page">List url preview page</div>
            <label class="btn-settings" for="showfordev"></label>
            <ul class="nav"> 
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <footer class="footer">
            <div class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 m-15px-tb col-md-6">
                            <div class="footer-content">
                                <div class="footer-logo">Cropar1</div>
                                <div class="footer-text">
                                    <p>Lorem ipsum lobors praesent auctor quis euismod torquent perneque modo class malesuada cubilia srisque phretra fring vesbulum phaseus</p>
                                </div>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-codepen"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github-alt"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-->
                        <div class="col-lg-2 m-15px-tb col-md-6">
                            <div class="footer-content">
                                <div class="footer-title font-alt">Resources</div>
                                <ul>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Help center</a></li>
                                    <li><a href="#">Community</a></li>
                                    <li><a href="#">Marketplace</a></li>
                                    <li><a href="#">Career</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-->
                        <div class="col-lg-2 m-15px-tb col-md-6">
                            <div class="footer-content">
                                <div class="footer-title font-alt">Important Links</div>
                                <ul>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Forum</a></li>
                                    <li><a href="#">Live Chat</a></li>
                                    <li><a href="#">Integration</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-->
                        <div class="col-lg-4 m-15px-tb col-md-6">
                            <div class="footer-newsletter">
                                <div class="footer-title font-alt">Subscription</div>
                                <p>Subscribe us to get latest update</p>
                                <form class="newsletter-form">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Enter Email">
                                    </div>
                                </form>
                                <div class="m-btn-bar"><a class="m-btn m-btn-theme" href="#">Subscribe</a></div>
                            </div>
                        </div>
                        <!-- col-->
                        <!-- row-->
                        <!-- container-->
                    </div>
                </div>
            </div>
            <div class="fot-copyright">
                <p>Copyright (c) 2018 - Cropar</p>
            </div>
        </footer>
        <script>window.jQuery || document.write('<script src="src/js/jquery.js"><\/script>')</script>
        <script src="src/js/plugins.min.js"></script>
        <script src="src/js/pages.min.js"></script>
    </body>
</html>

wp-content/themes/muraken/html/src/pug/index.pug
extends include/template

block settings
    - title = "Homepage"

block content
    // Home Banner Start
    section.home-banner(style='background-image: url(upload/home-banner.jpg);')
        .container
            .row.full-screen.align-items-center
                .col-md-8.col-lg-6
                    .home-content.theme-bg
                        h4.font-alt.m-0px.m-30px-b.sm-m-20px-b Cropar Consulting Your Partner for Success
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        .m-btn-bar.m-40px-t.sm-m-30px-t
                            a.m-btn.m-btn-white#event-click(href='#') Our Services12
    // About Us Start
    section.section
        .container
            .row.align-items-center
                .col-md-6.col-lg-5
                    .std-content
                        h6.theme-color.m-0px.m-10px-b About Us
                        h2.font-alt.m-25px-b.dark-color Why you should choose us?
                        p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        .m-btn-bar.p-20px-t
                            a.m-btn.m-btn-theme(href='#') About us
                .col-md-6.col-lg-7.p-80px-l.md-p-15px-l
                    .radius-img.sm-m-30px-t
                        img(src='upload/about.jpg', title='', alt='')
    // Services Start
    section.section.gray-bg
        .container
            .row.justify-content-center.m-45px-b.sm-m-25px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Services
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
                // row
                .row
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-hover
                            .icon.theme-bg
                                i.ti-bar-chart
                            h6.font-alt tax planning
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
                    // col
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-bg.active
                            .icon.theme-bg
                                i.ti-ruler-pencil
                            h6.font-alt legal advisory
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
                    // col
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-hover
                            .icon.theme-bg
                                i.ti-money
                            h6.font-alt financial services
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
                    // col
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-hover
                            .icon.theme-bg
                                i.ti-notepad
                            h6.font-alt audit & Assurance
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
    // About Start
    section.section.bg-cover.bg-fixed.bg-no-repeat(style='background-image: url(upload/about-1.jpg);')
        .container
            .row.justify-content-center
                .col-12.col-md-7.col-lg-5
                    .intro-content.text-center
                        h2.font-alt.dark-color.m-0px.m-25px-b
                            | Do great work
                            br
                            |  with great people
                        p.m-0px
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        .m-btn-bar.m-35px-t
                            a.m-btn.m-btn-theme(href='#') Our Company
    // Our Team Start
    section.section.white-bg
        .container
            .row.justify-content-center.m-45px-b.sm-m-25px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Team
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
            .row.justify-content-center
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-1.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
                // overly
                // col
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-2.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
                // overly
                // col
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-3.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
                // overly
                // col
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-4.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
    // Testimonial
    section.section.gray-bg.testimonial-section
        .container
            .row.justify-content-center.m-60px-b.sm-m-40px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Testimonial
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
            .row.justify-content-center
                .col-12
                    #client-slider-single.owl-carousel
                        .testimonial-col
                            .img
                                img(src='upload/avtar1.jpg', alt='', title='')
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            h6 Jennifer Lutheran
                            label CEO & Founder
                        // col
                        .testimonial-col
                            .img
                                img(src='upload/avtar1.jpg', alt='', title='')
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            h6 Jennifer Lutheran
                            label CEO & Founder
                        // col
                        .testimonial-col
                            .img
                                img(src='upload/avtar1.jpg', alt='', title='')
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            h6 Jennifer Lutheran
                            label CEO & Founder
    // Our Client Start
    section.section
        .container
            .row.justify-content-center.m-40px-b.sm-m-20px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Clients
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
            .row.justify-content-center.text-center
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-1.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-2.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-3.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-4.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-5.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-6.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-7.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-8.png', title='', alt='')
    // Contact Start
    section.bg-no-repeat.bg-cover.bg-fixed(style='background-image: url(upload/call-to-action.jpg);')
        .row.no-gutters.justify-content-end
            .col-12.col-md-12.col-lg-6
                .call-to-action.theme-bg
                    h4
                        | Get a personal
                        br
                        |  consultation
                    p
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    .m-btn-bar
                        a.m-btn.m-btn-white(href='#') Send a Request
                        a.contact-num(href='#') +44 555 8585 85
